@import "tailwindcss";

@keyframes slideToRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.right-slide {
  animation: slideToRight 1s ease;
}
@keyframes slideToLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.left-slide {
  animation: slideToLeft 1s ease;
}
@theme {
  --right-slide: slide-right 1s;
  --left-slide: slide-left 1s;
  --breakpoint-4xl: 112rem;
  --breakpoint-3xl: 105rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-z: 56rem;
  --breakpoint-y: 52rem;
  --breakpoint-c: 44rem;
  --breakpoint-s: 32rem;
  --breakpoint-m: 29rem;
  --breakpoint-x: 26rem;
}

::-webkit-scrollbar {
  width: 0px;
}

@media (width < 1600px) {
  .header-input {
    width: 600px;
  }
}
@media (width < 1400px) {
  .header-input {
    width: 400px;
  }
}

@media (width < 1200px) {
  .header-input {
    width: 350px;
  }
}
@media (width < 950px) {
  .header-input {
    width: 300px;
  }
}
@media (width < 786px) {
  .header-input {
    width: 250px;
  }
}
@media (width < 405px) {
  .header-input {
    width: 200px;
  }
}
